name: Build Images

on:
  push:
    branches: [ "main" ]
    paths:
      - 'webflux-cache/**'
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        module: [webflux-cache]
    
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Check for changes in this module
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            changed:
              - '${{ matrix.module }}/**'

      - name: Build and Push if changed
        if: steps.filter.outputs.changed == 'true'
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./${{ matrix.module }}/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ matrix.module }}:latest
